<!DOCTYPE html>
<html lang="en" data-theme="halloween" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title th:text="#{team.new.title}"></title>
</head>
<body>
<div th:insert="~{_navbar :: navbar}"></div>
<main class="min-h-screen flex justify-center pt-8">
    <div class="max-w-md mx-auto p-4">
        <h1 class="text-5xl font-bold mb-8 text-center" th:text="#{team.new.title}"></h1>

        <form th:action="@{/team}" th:object="${team}" method="post" class="flex flex-col gap-4">

            <div class="form-control w-full">
                <label class="label"><span class="text-sm font-extrabold tracking-wider" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.label.name}"></span></label>
                <input type="text" th:field="*{name}" th:placeholder="#{team.name.placeholder}" class="input input-bordered w-full" th:errorclass="input-error" />
                <label class="label" th:if="${#fields.hasErrors('name')}"><span class="label-text-alt text-error" th:errors="*{name}"></span></label>
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="text-sm font-extrabold tracking-wider uppercase" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.edit.form.label.logo}"></span>
                </label>
                <input type="url" th:field="*{logoUrl}" th:placeholder="#{team.edit.form.logo.placeholder}"
                       class="input input-bordered w-full"
                       th:errorclass="input-error" />
                <label class="label" th:if="${#fields.hasErrors('logoUrl')}">
                    <span class="label-text-alt text-error" th:errors="*{logoUrl}"></span>
                </label>
            </div>
            <div class="form-control w-full">
                <label class="label"><span class="text-sm font-extrabold tracking-wider" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.label.category}"></span></label>
                <select th:field="*{category}" class="select select-bordered w-full" th:errorclass="select-error">
                    <option th:each="category : ${T(br.com.fiap.ultimateteam.team.Category).values()}" th:value="${category}" th:text="${category}"></option>
                </select>
                <label class="label" th:if="${#fields.hasErrors('category')}"><span class="label-text-alt text-error" th:errors="*{category}"></span></label>
            </div>
            <div class="form-control w-full">
                <label class="label"><span class="text-sm font-extrabold tracking-wider" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.label.creation.date}"></span></label>
                <input type="date" th:field="*{creationDate}" class="input input-bordered w-full" th:errorclass="input-error" />
                <label class="label" th:if="${#fields.hasErrors('creationDate')}"><span class="label-text-alt text-error" th:errors="*{creationDate}"></span></label>
            </div>
            <div class="form-control w-full">
                <label class="label"><span class="text-sm font-extrabold tracking-wider" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.label.training.day}"></span></label>
                <select th:field="*{trainingDay}" class="select select-bordered w-full">
                    <option th:each="day : ${T(br.com.fiap.ultimateteam.team.TrainingDay).values()}" th:value="${day}" th:text="${day}"></option>
                </select>
            </div>
            <div class="form-control w-full">
                <label class="label"><span class="text-sm font-extrabold tracking-wider" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.label.training.time}"></span></label>
                <input type="text" th:field="*{trainingTime}" th:placeholder="#{team.training.time.placeholder}" class="input input-bordered w-full" />
                <label class="label" th:if="${#fields.hasErrors('trainingTime')}"><span class="label-text-alt text-error" th:errors="*{trainingTime}"></span></label>
            </div>
            <div class="form-control w-full">
                <label class="label"><span class="text-sm font-extrabold tracking-wider" style="color: oklch(0.3506 0.006 56.043);" th:text="#{team.label.training.location}"></span></label>
                <input type="text" th:field="*{trainingLocation}" th:placeholder="#{team.training.location.placeholder}" class="input input-bordered w-full" />
                <label class="label" th:if="${#fields.hasErrors('trainingLocation')}"><span class="label-text-alt text-error" th:errors="*{trainingLocation}"></span></label>
            </div>
            <button type="submit" class="btn btn-outline btn-primary py-6 px-16 text-lg mt-4" th:text="#{team.new.save.button}"></button>
        </form>
    </div>
</main>
</body>
</html>
